.channelitem {
  padding: 14px 6px;
}

.channel {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.channel:hover {
  color: var(--white);
}

.channelitem i {
  height: 8px;
  width: 8px;
  font-size: 8px;
  margin-right: 5px;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sub {
  padding: 4px 8px 4px 8px;
  margin: 2px 0;
  line-height: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  text-transform: lowercase;
  cursor: pointer;
}

.sub:hover {
  color: var(--white);
  border-radius: 3px;
  background: var(--selectedbg);
}

.sub i {
  margin-right: 20px;
  font-size: 20px;
}

.selected {
  color: var(--white);
  background: var(--selectedbg);
  z-index: 200;
}
