.memberitem {
  height: 42px;
  padding-left: 3px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 2px;
  cursor: pointer;
}

.memberitem:hover {
  color: var(--white);
  background: var(--profileboxbg);
}

.memberitem img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.name {
  padding-left: 10px;
}

.selected {
  color: var(--white);
  background: var(--selectedbg);
  z-index: 200;
}
