.imageicon {
  position: relative;
  overflow: hidden;
}

.status {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  position: absolute;
  bottom: -4px;
  right: -4px;
  background: var(--channelbackground);
  border-radius: 100%;
  z-index: 100;
}

.online {
  color: var(--green);
}

.offline {
  color: var(--text);
}

.idle {
  color: var(--orange);
  transform: scaleX(-1);
}

.dnd {
  color: var(--red);
}

.selected {
  background: var(--selectedbg);
}
