.chatsheader {
  min-width: 300px;
  padding: 8px 10px 11px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--background);
}

.hashicon {
  margin: 0 10px 0 4px;
  font-size: 20px;
}

.channelname {
  min-width: 125px;
  color: var(--white);
  font-weight: bold;
}