@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
  --black: #000000;
  --white: #ffffff;
  --green: #61ff41;
  --darkgreen: #193f10;
  --red: #ff6868;
  --yellow: #fdf46c;
  --background: #202225;
  --channelbackground: #2f3136;
  --chatbackground: #36393f;
  --shadow: #666666;
  --text: #a3a6aa;
  --profileboxbg: #3f434a;
  --selectedbg: #42464d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Outfit", sans-serif;
  color: var(--text);
  background-color: var(--background);
}

p {
  padding: 0;
  margin: 0;
}

.b1 {
  border: 1px solid white;
}

#page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#page-header {
  height: 22px;
}

#content-container {
  height: 100%;
  display: flex;
  overflow: hidden;
}

#server-list {
  width: 86px;
}

#friend-chats,
#server-channels,
#members-list {
  width: 288px;
  background: var(--channelbackground);
}

#friend-chats,
#server-channels {
  border-top-left-radius: 8px;
}

#friend-chats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#chat-panel {
  width: 100%;
  background: var(--chatbackground);
}
